<html>
<head></head>
<body>
    <div id="app"></div>
    <template id="temp">
        <dl>
            <dt>{{title}}</dt>
            <dd>
                <a href={{url}} title={{title}}>
                    <img src={{imgSrc}} alt="">
                </a>
                <h3><a href={{url}}>{{title}}</a></h3>
                <p>{{desc}}</p>
            </dd>
        </dl>
    </template>
    <script src="template.js"></script>
    <script>
        var json = [{
            title: 'abc',
            url: 'http://www.nd.com.cn',
            imgSrc: 'http://pic.cnblogs.com/face/928066/20160528155042.png',
            desc: 'hello'
        },
        {
            title:'efae',
            url: 'http://www.amazon.cn',
            imgSrc: 'http://cn.bing.com/sa/simg/CN_Logo_Gray.png',
            desc: 'h3434ello'
        },
        {
            title: 'er3av',
            url: 'http://www.qq.com',
            imgSrc: 'http://www.cnblogs.com/images/logo_small.gif',
            desc: 'hbellorett'
        }];
        var te = document.getElementById("temp");
        document.getElementById('app').innerHTML = template(te, json);
    </script>
</body>
</html>
